.dropdown-container {
  display: flex;
  flex-direction: column;
  height: 4.4rem;
  --border-color: var(--gray-300);
  --shadow-color: transparent;
  --icon-color: var(--gray-500);

  &[data-has-value="false"] [data-label-placement="inside"] span {
    color: #686868 !important;
  }

  label[data-label-placement="inside"] {
    @apply text-[1.2rem] leading-[2.4rem] font-[500] text-[#686868];
    transform: translate(0, -50%);
  }

  [data-headlessui-state="open"] label[data-label-placement="inside"],
  &[data-has-value="true"] label[data-label-placement="inside"],
  &[data-has-value="true"] label[data-label-placement="inside"] {
    font-size: 1.2rem !important;
    transform: translate(0, -50%);
  }

  [data-headlessui-state="open"] button[data-label-placement="inside"] span,
  &[data-has-value="true"] button[data-label-placement="inside"] span {
    font-size: 2rem !important;
  }

  &[data-has-value="true"] button[data-label-placement="inside"] span {
    color: #404040 !important;
  }

  button[data-label-placement="inside"] span {
    @apply absolute bottom-[1.2rem] font-[500] leading-[2.4rem] text-[2rem];
    transition: all 0.2s;
  }

  .dropdown-label {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.857%;
    color: #404040;
    margin-bottom: 0.6rem;
  }

  .dropdown-button {
    @apply flex items-center justify-between w-full h-full p-[1.2rem] gap-[0.8rem] text-[1.6rem] font-[500] rounded-[0.8rem] transition-all duration-200;
    background-color: #f5f5ff;
    border: 1px solid #d9d9d9;
    color: #404040;
  }

  &.has-error {
    --border-color: #f04438;
    --icon-color: #f04438;
    --shadow-color: transparent;

    &:focus-within {
      --shadow-color: #fee4e2;
    }
  }

  .error-message {
    color: #ed3636;
    margin-top: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 0.8rem;
  }

  .w-95 {
    width: calc(100% - 15px) !important;
  }
}
// hôm sau nếu muốn label hiển thị phía trong và giá trị được chọn có màu mong muốn thì thêm class
// custom-dropdown-no-span-color sau đó thêm color vào class là được nhé
.custom-dropdown-no-span-color.dropdown-container[data-has-value="true"]
  button[data-label-placement="inside"]
  span {
  color: inherit !important;
}
